* {
    margin: 0px;
    padding: 0px;
}
.header-img {
    width: 100%;
    background: #fcccad;
    box-shadow: 1px 2px 4px rgba(5, 82, 82, 0.35);
    height: 50px;
}
.header-title {
    font-family: Parkavenue, Comic Sans MS, cursive;
    font-style: italic;
    font-weight: 500;
    text-align: center;
    color: #055252;
    text-shadow: 1px 1px 4px #7a3405; 
    float: left;    
    font-size: 30px;
    padding: 10px 2px;       
}
.header-links {
    float: right;
    text-decoration: none;
    font-family: Roboto;
    font-style: italic;
    font-weight: normal;
    text-align: center;
    color: #FFF2F2;
    text-shadow: 2px 1px 1px #055252;
    font-size: 14px;
    margin: 15px 6px 0px;
}
.header-links:hover {
    transition: ease 1s;
    color: #469994;
}

.content {
    position: absolute;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.goods-returned-title {
    margin-left: auto;
    margin-right: auto;
    font-family: Roboto;
    text-align: center;
    font-style: italic;
    font-weight: normal;
    color: #7a3405;
    text-shadow: 0px 4px 4px #055252;
    font-size: 22px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.info-label > h4 {
    margin-right: auto;
    margin-left: auto;
    font-family: Roboto;
    text-align: center;
    color: rgb(179, 4, 4);
    font-size: 16px;
    padding: 5px 10px 5px;
}

.returned-data-container {
    border-radius: 10px;  
    box-shadow: 0px 1px 1px 1px #cccbca;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding: 20px 5px 5px;
    width: 95%; 
    height: 550px;
}
.returned-data-container  label, .returned-data-container  input {
    font-family: Roboto;
    font-weight: 300;
    text-align: left;
    font-size: 17px;
}
.returned-data-container  label {
    float: left;
    font-style: italic;
    color: #003030;
}
.returned-data-container  input{
    background: white;
    border-radius: 5px;
    border: lightgrey 1px solid;
    float: right;
    color: #5f2702;
    width: 85%;
    margin: 10px 0px 30px 0px;
    box-shadow: 1px 1px 1px #fc9037;
    padding: 4px;

}

.form-buttons {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 20px;
}
.form-buttons > button{
    width: 100px; 
    background: #014848;
    color: white;
    border-radius: 10px;    
    font-size: 18px; 
    text-align: center;
    padding: 5px 5px;
}
.form-buttons > button:hover, .form-buttons > button:focus{
    cursor: pointer;
    background-color: #027575;
    box-shadow:0px 1px 1px 0px #5f2702;
    outline: none;
}

@media only screen and (min-width: 768px) {
    .header-img {
        height: 65px;
    }
    .header-title {
        font-size: 36px; 
        margin-left: 5px;          
    }
    .header-links {
        font-size: 16px;
        margin: 20px 15px 0px;
    }
    .goods-returned-title {
        font-size: 24px;
    }
    .returned-data-container { 
        width: 650px;
        height: 630px;
        padding: 30px 10px 0px;
    }
    .returned-data-container  label, .returned-data-container  input {
        padding: 5px;
        font-size: 19px;
    }
    .returned-data-container  label {
        margin: 22px 10px 50px 20px;
    }
    .returned-data-container  input{
        width: 350px;
        margin: 20px 20px 50px 10px;
    }

    .form-buttons {
        margin-bottom: 20px;
    }
    .form-buttons > button{
        width: 150px; 
        font-size: 20px; 
        padding: 5px 5px;
    }
}

/* @media only screen and (min-width: 1282px) {
    
} */